# An asterisk "*" matches anything except a slash
**/#*

# Ignore all symlinks in all folders
**/*~


**/.cache
**/eln-cache


# Ignore archive files
**/*_archive


/.cask


# remove org files from tracking
test/*org
quickcheck.org
Makefile.org